body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #4ecdc4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #556270,
    #4ecdc4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #556270,
    #4ecdc4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: rgba(255, 255, 255, 0.815);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  padding: 35px 30px;
  color: rgba(0, 0, 0, 0.719);
  background-color: aliceblue;
  border-radius: 1rem;
}

.info {
  padding: 35px 30px;
  color: rgba(0, 0, 0, 0.719);
  background-color: aliceblue;
  border-radius: 1rem;
}

.container-gasto {
  padding: 0.5rem;
  /* background-color: rgba(197, 201, 204, 0.616); */
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: dotted;
}

.nombre-gasto {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  margin-top: 0.5rem;
}
